@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    display: flex;
    flex-wrap: wrap; 
}

.wrapper header{
    width: 100%;
    padding:20px;
}


.wrapper main{
    border-top: 1px solid tomato;
    width: 100%;
    padding: 20px;
}

header{
    background-color: beige;
    box-shadow: 1px 1px 10px #aaa;
    z-index: 1;
    position: sticky;
    top:0;
    left: 0;
}

header input{
    width: 100%;
    padding:10px;
    margin: 10px 0px;
}

main article {
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 1px 1px 10px #aaa;
    margin: 10px;
    position: relative;
}

main article h3{
    border-bottom: 2px dashed tomato;
    padding: 10px 0px;
    margin-bottom: 10px;
}

main article .minimo{
    color: tomato;
    font-weight: bold;
}

main article .correcto{
    color: green;
    font-weight: bold;
}

main article button{
    width: 100%;
    padding: 5px;
    background-color: tomato;
    border: 0px;
    margin-top: 5px;
}


main article button:hover{
     background-color: darkred;
     color: white;
     cursor: pointer;
}

@media(min-width: 768px){
    .wrapper header{
        width: 30%;
        height: 100vh;
    }


    .wrapper main{
        margin-top: 0px;
        border-top: 0px;
        border-left: 1px solid tomato;
        width: 70%;
    }
}
