* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.monza {
    width: 900px;
    position: relative;
    margin: 40px auto 0 auto;
    background-color: #444;
}

.monza .carril {
    height: 100px;
    width: 100%;
    padding: 25px 0px;
    border-bottom: 2px dotted white;
}

.monza .carril:nth-child(3) {
    border-bottom: 0px;
}

.monza .carril .coche {
    width: 100px;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    padding: 15px 5px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 80%;
}

.monza .carril #ferrari {
    background-color: tomato;
}

.monza .carril #lamborghini {
    background-color: gold;
}

.monza .carril #porche {
    background-color: lightgray;
}

#mensaje {
    text-align: center;
}

.meta {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    position: absolute;
    background-color: yellow;
    text-align: center;
    right: 0;
    transform: rotateZ(90deg);
    top: 140px;
}

button{
    margin: 20px auto;
    display: block;
    padding: 15px;
    border: none;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:lightskyblue;
    border-radius: 5px;
}